<div class="raven-info-panel">
    <div class="combatant header">
        <div class="name">Combatant</div>
        <div class="AC">AC</div>
        <div class="HP">HP</div>
        <div class="walking-speed">Walking Speed</div>
        <div class="default-action">Default Action</div>
    </div>

    {{#each combatants as |combatant id|}}
    <div class="combatant">
        <div class="name"><img class='icon' src="{{combatant.img}}" /> {{combatant.name}}</div>
        <div class="AC">{{combatant.ac}}</div>
        <div class="HP">{{combatant.hp}} / {{combatant.max}}</div>
        <div class="walking-speed">{{combatant.walk}}</div>
        <div class="default-action">{{combatant.defaultAction}}</div>
    </div>
    {{/each}}
</div>