<div style="flex: none; display: flex; align-items: center; padding-top: 10px; color: yellow">
    <div style="margin: 0 0 0 53px;">
        Combatant
    </div>
    <div class="token-name flexcol" style="flex: 2; margin: 0 10px 0 20px;">
        <h4>Current Action</h4>
        <h4>[ Default Action ]</h4>
    </div>
    <div style="margin: 0 7px 0 0;">
        Initiative
    </div>
</div>

<ol class="directory-list">
    {{#each turns}}
    <li class="combatant actor directory-item flexrow" data-combatant-id="{{this.id}}" style="align-items: center;">
        <img class="token-image" src="{{this.img}}" title="{{this.name}}" />

        <div class="token-name">
            <h4>{{this.name}}</h4>
        </div>

        <div class="token-name flexcol" style="flex: 2;">
            <h4>{{this.currentAction}}</h4>
            <h4>[ {{this.defaultAction}} ]</h4>
        </div>

        <div class="token-initiative">
            {{#if this.hasRolled}}
            <span class="initiative">{{this.initiative}}</span>
            {{else if this.owner}}
            <a class="combatant-control roll" title="{{localize 'COMBAT.InitiativeRoll'}}"
                data-control="rollInitiative"></a>
            {{/if}}
        </div>
    </li>
    {{/each}}
</div>